body{
    background-color: black;
    color: white;
    font-size: 50px;
}

a{
    border-radius: 500px;
    background: #00ffea;
    padding: 15px;
    text-decoration: none;
}
a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: rgb(255, 0, 0);
}

.disclaimer{
    color: #808080;
    text-align: center;
}

img{
    width: 100%;
}